:root {
    --blue: #2764FC;
    --navy: #00154D;
    --yellow:#FFC021;
    --black: #000;
    --font1: Proxima nova,Manrope;
    --font2: Manrope;
    --colorBlue: #2764FC;
    --colorYellow:#FFC021;
    --btnBlack: #000;
    --colorGreen: #5BCA94;
  }
    body {
      --blue: #2764FC;
    }
    ul li {
        list-style: none;
    }
    
    a {
        text-decoration: none !important;
    }
    
    * {
        box-sizing: border-box;
        margin: 0 auto;
        
    }
    a,ul,li,div {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        vertical-align: baseline;
        background: 0 0;
    }
    ul p{
        margin: 0;
    }
    @font-face {
        font-family: "ETmodules";
        src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot");
        src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff") format("woff"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.svg#ETmodules") format("svg");
    }
    
    #hiretual-banner {
        position: fixed;
        top: 0px;
        background-color: #2f2f30;
        width: 100%;
        text-decoration: none !important;
        z-index: 9999999;
    }
    
    #hiretual-nav {
        position: fixed;
        top: 46px;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #c3c4c7;
        z-index: 9999999;
    }
    #hiretual-nav *{
        box-sizing: border-box;
    }
    
    /* **************************************** */
    /* ________________________________________________mian header start__________________________________________________________________ */
    .key-header-index img{
        width: initial;
        margin-bottom: 0;
    }
    .blue-header {
        display: block;
        width: 100%;
        height: 46px;
        background-color: #2768b3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .blue-header a {
        font-size: 14px;
        color: #FFFFFF;
        font-weight: bold;
    }
    .blue-header .left-part {
        margin-left: 24px;
    }
    .blue-header .right-part {
        margin-right: 32px;
    }
    .blue-header .right-part a {
        display: inline-block;
        border-radius: 18px;
        width: 88px;
        height: 32px;
        line-height: 32px;
        background-color: #fff;
        color: #2768B3;
        text-align: center;
    }
    .blue-header .right-part a:first-child {
        margin-right: 20px;
    }
    .blue-header .right-part .text {
        display: inline-block;
        height: 100%;
    }
    /* main haeder */
    .key-header-index {
        position: sticky!important;
        top: 0px!important;
        z-index: 999999;
    }
    #main-header {
        top: 0!important;
        width: 100%;
        background-color: #fff;
        padding: 0 20px 0 42px !important;
        box-sizing: border-box;
        border-bottom: none;
        box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
        z-index: 999;
    }
    .menu-container {
        height: 101px;
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
    }
    .menu-container {
        display: flex;
        max-width: 1080px !important;
        margin: 0 auto;
    }
    @media(min-width:1200px) {
        .com-header-wrapper .menu-container{
            max-width: 1080px!important;
        }
    }
    @media(min-width:1441px) {
        .menu-container {
            max-width: 90% !important;
            display: block;
        }
        .logo-container {
            float: left;
        }
        .menu-all {
            float: right;
        }
    }
    /* logo - start */
    .logo-container {
        position: relative !important;
        width: 162px !important;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .logo-container #logo {
        width: 100%;
        height: auto;
        margin: 0px;
    }
    /* logo - end */
    /* pc-nav */
    .nav-container {
        padding-left: 72px;
        height: 100%;
    }
    .pc-nav {
        position: relative;
        display: flex;
        height: 100%;
    }
    .menu-all {
        height: 100%;
    }
    .pc-nav .sub-menu {
        z-index: 1;
        padding: 10px 0 0 0;
        font-size: 13px;
        font-weight: normal;
        line-height: 34px;
        letter-spacing: normal;
        border-top: none;
        cursor: pointer;
        box-shadow: 0 0 0 !important;
        box-sizing: border-box;
        background: none;
        position: absolute;
        display: none;
    }
    .nav li:hover>ul {
        display: -webkit-flex;
        display: flex !important;
    }
    
    .nav li>a.show-ul+ul {
        display: -webkit-flex;
        display: flex !important;
    }
    .pc-nav .sub-menu .menu-item {
        background-color: transparent;
        color: #3c3c3c !important;
    }
    .pc-nav .sub-menu .menu-item:hover {
        border-radius: 4px;
        background-color: #F5F8FC;
    }
    .pc-nav .sub-menu .menu-item {
        box-sizing: border-box;
        width: 100%;
        margin: 0 0 6px 0px;
        margin-bottom: 0;
        color: #3c3c3c!important;
        padding: 8px 36px;
    }
    .pc-nav .submenu-item-title .title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 0;
        color: #000000;
        letter-spacing: normal;
        text-align: left;
        /* margin-left: -4px; */
    }
    .pc-nav .menu-item-report .submenu-item-title{
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 28px;
        letter-spacing: normal;
        text-align: left;
        color: #3c3c3c;
        margin-left: -4px;
    }
    .pc-nav .menu-item-report .submenu-item-title .title {
        display: flex;
        align-items: center;
    }
    .pc-nav .submenu-item-title span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #8F9397;
        display: block;
        margin-top: 8px;
        text-align: left;
    }
    /* product Features */
    .pc-nav .first-sub-menu {
        height: 540px;
        margin-top: 26px;
        margin-left: -91px;
        padding: 32px 0px 20px;
        flex-flow: column wrap;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 720px;
        border-top: none;
        background: #FFFFFF;
        box-shadow: 0px 6px 80px rgb(0 0 0 / 7%), 0px 2.50666px 33.4221px rgb(0 0 0 / 5%), 0px 1.34018px 17.869px rgb(0 0 0 / 4%), 0px 0.751293px 10.0172px rgb(0 0 0 / 4%), 0px 0.399006px 5.32008px rgb(0 0 0 / 3%), 0px 0.166035px 2.21381px rgb(0 0 0 / 2%) !important;
        border-radius: 13px;
    }
    .pc-nav .submenu-item {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        transition: all .2s ease-in-out;
        --webkit-transition: all .2s ease-in-out;
        color: #3c3c3c !important;
    }
    .pc-nav .first-sub-menu .menu-item{
        width: 316px;
    }
    .pc-nav .submenu-item-img {
        flex: 0 0 auto;
        width: 32px;
        margin: 5px 15px 0 0;
    }
    /* Resources */
    .pc-nav .resources-item .second-sub-menu {
        width: 502px;
        height: 228px;
        padding: 24px 0px 24px;
        margin-top: 26px;
        margin-left: -90px;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-top: none;
        background: #FFFFFF;
        box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.07), 0px 2.50666px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 1.34018px 17.869px rgba(0, 0, 0, 0.0417275), 0px 0.751293px 10.0172px rgba(0, 0, 0, 0.035), 0px 0.399006px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.166035px 2.21381px rgba(0, 0, 0, 0.0196802) !important;
        border-radius: 13px;
        border-top: none;
    }
    .pc-nav .resources-item .second-sub-menu .menu-item {
        width: 299px;
        max-width: none;
        padding: 8px 22px 8px 36px;
    }
    .pc-nav .resources-item .second-sub-menu .menu-item-report {
        width: 203px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding: 8px 0 31px 31px;
        height: 180px;
        padding-bottom: 31px;
    }
    .pc-nav .submenu-item-title p.linka {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #4E8DF6;
        margin-top: 18px;
    }
    .pc-nav .second-sub-menu .menu-item-report .submenu-item-img {
        width: 54px;
        margin: -3px 0 0 4px;
    }
    /* Company */
    .pc-nav .third-sub-menu {
        margin-left: -40px;
        margin-top: 26px;
        width: 316px;
        padding: 24px 0px 24px 0px;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-top: none;
        background: #FFFFFF;
        box-shadow: 0px 6px 80px rgb(0 0 0 / 7%), 0px 2.50666px 33.4221px rgb(0 0 0 / 5%), 0px 1.34018px 17.869px rgb(0 0 0 / 4%), 0px 0.751293px 10.0172px rgb(0 0 0 / 4%), 0px 0.399006px 5.32008px rgb(0 0 0 / 3%), 0px 0.166035px 2.21381px rgb(0 0 0 / 2%) !important;
        border-radius: 13px;
    }
    .pc-nav .third-sub-menu .submenu-item-img {
        width: 17px;
    }
    /* solution */
    .pc-nav .forth-sub-menu {
        right: 0;
        margin-left: -40px;
        margin-top: 26px;
        max-width: 1015px;
        padding: 30px 0px 24px 0px;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-top: none;
        background: #FFFFFF;
        box-shadow: 0px 6px 80px rgb(0 0 0 / 7%), 0px 2.50666px 33.4221px rgb(0 0 0 / 5%), 0px 1.34018px 17.869px rgb(0 0 0 / 4%), 0px 0.751293px 10.0172px rgb(0 0 0 / 4%), 0px 0.399006px 5.32008px rgb(0 0 0 / 3%), 0px 0.166035px 2.21381px rgb(0 0 0 / 2%) !important;
        border-radius: 13px;
    }
    .pc-nav .forth-sub-menu .menu-item {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .pc-nav .forth-sub-menu .menu-item:hover {
        background: #fff!important;
    }
    .pc-nav .forth-sub-menu .submenu-item-img {
        width: 17px;
    }
    .pc-nav .forth-sub-menu .sub-container {
        padding: 0 40px 20px 14px;
        width: 336px;
        box-sizing: border-box;
    }
    .pc-nav .forth-sub-menu .sub-container:last-child {
        padding-right: 14px;
        width: 310px;
    }
    .pc-nav .forth-sub-menu .sub-title {
        padding-left: 22px;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #8F9397;
        font-family: "Poppins";
        text-align: left;
    }
    .pc-nav .forth-sub-menu .sub-cont {
        margin-top: 17px;
    }
    .pc-nav .forth-sub-menu .sub-link {
        padding-left: 22px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 4px;
        transition: all 0.3s;
    }
    .pc-nav .forth-sub-menu .sub-link:hover {
        background: #F5F8FC;
    }
    .pc-nav .forth-sub-menu .sub-link .icon-wrap {
        width: 32px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .pc-nav .forth-sub-menu .sub-link .submenu-icon{
        width: initial;
        margin-bottom: 0;
    }
    .pc-nav .forth-sub-menu .sub-link .txt {
        margin-left: 18px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        font-family: "Poppins";
    }
    .pc-nav .forth-sub-menu .menu-btn-item {
        padding: 0 14px;
    }
    .pc-nav .forth-sub-menu .see-btn {
        margin-top: 6px;
        width: 100%;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #4E8DF6;
        background: #F5F8FC;
    }
    .pc-nav .forth-sub-menu .see-btn>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .pc-nav .forth-sub-menu .see-btn .img {
        width: 20px!important;
        margin: 0 0 0 20px;
    }
    /* nav right - CONTACT SALES*/
    .pc-nav>li {
        font-size: 14px;
        padding: 0 0 27px!important;
        margin-right: 40px;
        margin-top: 39px;
        z-index: 99;
        position: static;
        cursor: default;
    }
    .pc-nav>.no-mr {
        margin-right: 0px;
    }
    .pc-nav>li.menu-item:not(.menu-item-btn)>a {
        z-index: 99;
        padding: 0 !important;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #141414;
    }
    .pc-nav>li.menu-item:not(.menu-item-btn)>a span {
        margin-left: 0px;
    }
    .pc-nav>li.menu-item:not(.menu-item-btn)>a img {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 11.05px;
    }
    .pc-nav>li.menu-item a:after {
        content: none !important;
    }
    .pc-nav .menu-item-btn {
        padding: 0px !important;
        margin: 0 0 0 68px;
        display: flex;
        align-items: center;
    }
    .pc-nav .menu-item-btn .btn {
        display: inline-block;
        padding: 12px 26px 10px 25px;
        background-color: #E85741;
        border-radius: 30px;
        color: #fff!important;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase!important;
    }
    .pc-nav .menu-item-btn>a:hover {
        background-color: #FFAD8D;
    }
    
    .header-position {
        width: 100%;
        height: 101px;
    }
    .mobile-menu {
        display: none;
    }
    /* mobile */
    @media (max-width:1150px) {
       #hiretual-banner,#hiretual-nav{
           display: none;
       }
    }
    .menu-item-has-children .menu-link {
        cursor: default;
    }
    /* ________________________________________________mian header end__________________________________________________________________ */
    /* black foot start */
    
    /* <style> */
    body{
        font-family: Poppins;
    }
    .white-foot-bar {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: space-around;
    }
    .white-foot-bar .footer-p {
      padding: 0;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      font-size: 16px !important;
      line-height: 1.5;
      font-weight: 400 !important;
      color: #212529 !important;
    }
    .white-foot-bar .footer-p a {
      font-size: 16px !important;
    }
    .white-foot-bar .foot-left {
      white-space: nowrap;
      flex-wrap: nowrap;
      margin-right: 2%;
    }
    .white-foot-bar .foot-right {
      color: #2768B3 !important;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1160px) {
      .white-foot-bar .foot-left {
        margin-left: 2%;
      }
    }
    #footer-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
    #myCopyright .et_pb_row {
      width: 100% !important;
    }
    .footer-nav-logo {
      -webkit-filter: brightness(0%) invert(100%);
      -moz-filter: brightness(0%) invert(100%);
      -ms-filter: brightness(0%) invert(100%);
      filter: brightness(0%) invert(100%);
      margin-right: 10px;
      vertical-align: middle;
      margin-bottom: 5px;
      height: 24px;
      width: 24px;
    }
    .over-logo {
      width: 24px;
    }
    .footer-nav-link {
      margin-bottom: 10px;
    }
    .footer-nav-link a {
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 14px !important;
      line-height: 21px !important;
      color: #FFFFFF !important;
      text-decoration: none;
    }
    #company-col {
      margin-left: 5%;
    }
    .footer-nav-col {
      max-width: 257px;
    }
    .company-col-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
    .footer-nav-logo-container {
      flex: 0 10%;
      min-width: 40px;
    }
    .inputemail iframe {
      width: 100%;
      margin-top: 25px;
    }
    #footer-d {
      margin-top: 100px;
      border-top: 2px solid #545659;
      padding-top: 33px;
      display: flex;
      justify-content: space-around;
    }
    .foot-foot {
      color: white !important;
      font-size: 16px !important;
      font-weight: 400 !important;
    }
    #footer-sales {
      margin-top: 47px;
      margin-bottom: 16px;
    }
    .foot-nav-img {
      max-width: 80px !important;
      width: 80px !important;
      height: 80px !important;
      margin-top: 15px;
    }
    #footer-nav .watchdemo {
      color: #f15b0c !important;
      text-decoration: underline;
      font-weight: 600 !important;
    }
    #footer-nav .watchdemo:hover {
      color: #fff !important;
    }
    #footer-bg {
      padding: 66px 7.63% 20px 3%;
    }
    #footer-bg * {
      text-align: left;
    }
    @media (max-width: 980px) {
      #footer-bg {
        padding: 80px 13% 20px;
      }
    }
    #footer-bg .footer-nav-col-title {
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 16px !important;
      line-height: 24px !important;
      color: #FFFFFF !important;
      margin: 20px 0 15px 0;
    }
    @media (max-width: 980px) {
      #footer-bg #footer-nav {
        flex-wrap: wrap;
      }
      #footer-bg .foot-logo {
        width: 100%;
      }
      #footer-bg .footer-nav-col {
        width: 50%;
        max-width: 100%;
      }
      #footer-bg .footer-nav-col-title {
        margin-top: 67px;
        color: #fff !important;
      }
    }
    @media (max-width: 750px) {
      #footer-bg .foot-nav-img {
        width: 73.6px !important;
        height: 72px !important;
      }
      #footer-bg .footer-nav-col {
        width: 100%;
      }
      #footer-bg .footer-nav-col-title {
        margin: 67px 0 36px;
        font-style: normal !important;
        font-weight: 800 !important;
        font-size: 36px !important;
        line-height: 49px !important;
        text-transform: uppercase !important;
        color: rgba(255, 255, 255, 0.5) !important;
      }
      #footer-bg .footer-nav-link a {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 30px !important;
        line-height: 41px !important;
        color: #FFFFFF !important;
      }
      #footer-bg .footer-nav-col:nth-child(5) {
        display: none;
      }
      #footer-bg #footer-d {
        display: none;
      }
    }
    #footer-bg #footer-icon-box .icon-title {
      font-weight: 800;
      margin-top: 100px;
      font-size: 36px;
      line-height: 49px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 67px;
    }
    #footer-bg #footer-icon-box .icon-box {
      margin-top: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #footer-bg #footer-icon-box .icon-box a img {
      width: 40px;
      height: 40px;
    }
    #footer-bg #footer-icon-box .icon-box a:nth-child(1) img {
      height: auto;
      width: 40px;
    }
    @media (min-width: 751px) {
      #footer-bg #footer-icon-box {
        display: none;
      }
    }
    #footer-bg .footer-nav-link.new-fn {
      position: relative;
    }
    #footer-bg .footer-nav-link.new-fn ::after {
      position: absolute;
      content: '';
      background-image: url(https://staging-hiretualcom.kinsta.cloud/wp-content/uploads/2021/06/new.png);
      background-size: 100% 100%;
      width: 35px;
      height: 17px;
      right: -15px;
      top: 2px;
    }
    @media (max-width: 980px) {
      #footer-bg .footer-nav-link.new-fn {
        display: inline-block;
      }
      #footer-bg .footer-nav-link.new-fn ::after {
        right: -40px;
        background-image: url(https://staging-hiretualcom.kinsta.cloud/wp-content/uploads/2021/06/new-new-logo-2.png);
      }
    }
    @media (max-width: 750px) {
      #footer-bg .footer-nav-link.new-fn ::after {
        top: 10px;
        right: -65px;
        width: 57px;
        height: 25px;
      }
    }
    .et_pb_row_1.et_pb_row {
      padding: 0 !important;
    }
      #footer-bg .foot-foot {
        display: flex;
        align-items: center;
      }
    
    /* </style> */
    /* black foot end*/
    
    /*         -----------------------------       */
       .foot2{
                display: flex;
                padding: 0 10px;
                background-color: #f2f3f5;
                justify-content: space-around;
                
            }
            @media (max-width: 981px){
                .foot2{
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
            .foot2 .foot2-left{
                flex-grow: 1;
                white-space: nowrap;
                margin-right: 20px;
            }
            .foot2 .foot2-right{
                flex-grow: 1;
            }
            .foot2 p{
                white-space: nowrap;
                text-align: center;
                font-size: 16px;
                margin: 10px 0;
                color: #212529;
            }
            .foot2-copyright{
                text-align: left; 
            }
            .foot2-terms{
                text-align: right;
            }
            .foot2 .foot2-right p{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                color: #0b5eaa ;
            }
            .foot2 .foot2-right p a{
                text-decoration: none;
                color: #212529 ;
            }
            @media (max-width: 1230px){
                .foot2 p{
                    font-size: 12px;
                }
            }
    @media only screen and (max-width: 981px) {
                .foot2 .foot2-left{
                width: 100%;
                flex-grow: 1;
            }
            .foot2 .foot2-right{
                width: 100%;
                flex-grow: 1;
            }
                .foot2 p{
                    text-align: center;
                    font-size: 12px;
                }
    }
    @media only screen and (max-width: 450px) {
                .foot2 p{
                    font-size:12px;
                    text-align: center;
                }
    }
    
    #pardot-form{
        width: 100%;
    }
    
    form.form p label{
            margin-bottom:1em;
            text-align: left;
        }
    
        /* form.form select{
            appearance:none !important;
    -moz-appearance:none !important;
    -webkit-appearance:none !important; 
        } */
    
    /* all button color*/
    #pardot-form p.submit input{
        background-color: #f15b0c!important;
        border-color:#f15b0c!important;
        }
    div .ctabutton{
        background-color: #f15b0c!important;
        border-color:#f15b0c!important;
        color: #fff!important;
    }
    div .ctabutton:hover {
        background-color: #FFAD8D !important;
        color: #fff !important;
        border-color:#FFAD8D !important;
    }
    div .pardotcta{
        background-color: #f15b0c!important;
        border-color:#f15b0c!important;
        color: #fff !important;
    }
    div .pardotcta:hover {
        background-color: #FFAD8D !important;;
        color: #fff !important;
        border-color:#FFAD8D !important;
    }
    :focus {
        outline:#2768b3 auto !important;
        transition: all 0;
    }
    div .ctabutton_new{
      background-color: var( --colorYellow);
      color: var(--btnBlack);
  }
    /* navbar 1240px */
    
    
    form.form select{
        padding-right: 55px;
    }
      /* new sign banner end */